@import "../../styles/variables.scss";
.editcategoryContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $main-bg;
    
    form {
        display: grid;
        width: 400px;
        place-items: start;
        gap: 1rem;

        button {
            width: 100%;
        }
      }

    
}