@import "../../styles/variables.scss";
.categoryContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.724);
    display: flex;
    align-items: center;
    justify-content: center;
  
    .modal {
      padding: 50px;
      border-radius: 10px;
      background-color: $main-bg;
      position: relative;
  
      h1 {
        margin-bottom: 40px;
        font-size: 24px;
        color: $soft-color;
      }
  
      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
  
      form {
        display: flex;
        width: 600px;
        max-width: 600px;
        flex-direction: column;
        }

        .item-check{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
          
          gap: 10;

          label {
            font-size: 14px;
            flex: 1;
          }
          input {
            flex: 1;
            background-color: transparent;
            color: white;
            border-radius: 3px;
            
          }

        }

        .item {
          display: flex;
          flex-direction: row;
          gap: 10px;
          margin-bottom: 20px;
          
  
          label {
            font-size: 14px;
            flex: 1;
          }
  
          img {
            border: 0px;
            border-color: transparent;
            width: 200px;
            height: 300px;
          }
          input {
            flex: 1;
            padding: 10px;
            background-color: transparent;
            color: white;
            outline: none;
            border-radius: 3px;
          }
        }
        button {
          width: 100%;
          padding: 10px;
          cursor: pointer;
        }
      }
    }   